@{
    ViewData["Title"] = "Employee";
}
<h2>Welcome Employee</h2>
<p>Hello @User.Identity.Name</p>
<form asp-controller="Account" asp-action="Logout" method="post">
    @Html.AntiForgeryToken()
    <button type="submit">Logout</button>
</form>
